.solitaire {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "stock waste . foundation foundation foundation foundation"
        "tableau tableau tableau tableau tableau tableau tableau";
}

.stock {
    grid-area: stock;
    position: relative;
}

.waste {
    grid-area: waste;
    position: relative;
}

.pile {
    width: 150px;
    height: 200px;
}

.foundation {
    grid-area: foundation;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.foundation-pile {
    position: relative;
}

.tableau {
    grid-area: tableau;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 1fr);
}

.tableau-pile {
    position: relative;
}

.card {
    cursor: pointer;
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 200px;
    line-height: 0.9;
    color: #aaa;
    transition: transform 50ms ease-in-out;
}

.card.is-top {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.card:not(.is-revealed):not(.is-clickable) {
    cursor: not-allowed;
}

.card.is-draggable {
    cursor: grab;
}

.card.is-draggable:hover {
    transform: scale(1.03);
}

.card.is-top.is-draggable:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card.is-dragging {
    opacity: 0.5;
}

.card-black .card-front {
    color: #111;
}

.card-red .card-front {
    color: #ff4136;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    transition: transform 300ms ease-in-out;
}

.card-front {
    position: relative;
}

.card-back {
    position: absolute;
    top: 0;
}

.card.is-revealed .card-front,
.card-back {
    transform: perspective(800px) rotateX(0deg);
}

.card.is-revealed .card-back,
.card-front {
    transform: perspective(800px) rotateX(180deg);
}
