:root {
    --grid-gap: 20px;
    --card-height: 200px;
    --color-red: #ff4136;
    --color-black: #111;
    --color-gray: #aaa;
    --card-border-radius: 10px;
    --comp-card-width: calc(var(--card-height) / 100 * 70);
}

body {
    background-color: #2ecc40;
    background-image: radial-gradient(transparent, rgba(black, 0.4));
    padding: var(--grid-gap);
}

.solitaire {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "stock waste . foundation foundation foundation foundation"
        "tableau tableau tableau tableau tableau tableau tableau";
}

.stock {
    grid-area: stock;
    position: relative;
}

.waste {
    grid-area: waste;
    position: relative;
}

.pile {
    position: relative;
    font-size: var(--card-height);
    line-height: var(--card-height);
    width: var(--comp-card-width);
    height: var(--card-height);
    border: 2px solid rgba(#fff, 0.3);
    background-color: rgba(#000, 0.1);
    border-radius: var(--card-border-radius);
}

.foundation {
    grid-area: foundation;
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(4, 1fr);
}

.foundation-pile {
    position: relative;
}

.tableau {
    grid-area: tableau;
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(7, 1fr);
}

.tableau-pile {
    position: relative;
}

.card {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 50ms ease-in-out;

    &.is-top {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    }

    &:not(.is-revealed):not(.is-clickable) {
        cursor: not-allowed;
    }

    &.is-draggable {
        cursor: grab;
    }

    &.is-draggable:hover {
        transform: scale(1.03);
    }

    &.is-top.is-draggable:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &.is-dragging {
        opacity: 0.5;
    }

    >.card {
        top: 30px;
        z-index: 2;
    }

    &:before,
    &:after {
        overflow: hidden;
        pointer-events: none;
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: var(--card-border-radius);
        backface-visibility: hidden;
        transition: transform 300ms ease-in-out;
    }

    &:before {
        position: relative;
        z-index: 1;
        content: attr(data-symbol)
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: "\01F0A0";
        color: var(--color-gray);
    }

    &:before,
    &.is-revealed:after {
        transform: perspective(800px) rotateX(180deg);
    }

    &:after,
    &.is-revealed:before {
        transform: perspective(800px) rotateX(0deg);
    }

    &.card-red:before {
        color: var(--color-red);
    }

    &.card-black:before {
        color: var(--color-black);
    }
}
